<!DOCTYPE html>
<html>
<head>
    <title>助车</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="车，驾校，科目二，科目一，科目三，汽车，考证，驾驶，助车网"/>
    <meta name="description" content="助车网，一个关于汽车、驾校、考证的提问回答社区，力求为所有汽车拥有者，驾照考试者提供帮助"/>
    <meta name="baidu-site-verification" content="u3jDglCKyo" />
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="/js/reactor/redactor.css"/>
    <link rel="icon" href="/images/icon/chetan.ico"/>
    <script src="/js/reactor/fullscreen.js"></script>
    <script src="/js/reactor/redactor.js"></script>
    <script src="/js/common.js"></script>

</head>
<body>
<div style="display:none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ef3eaa0e488ee0c2663ca2565dda5e7' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<div id="showMsg"></div>
<div id="body-wrapper">
    <!---------- header -------->
    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <a href="/"><h1>车谈</h1></a>
            </div>

            <ul class="navigation">
                <li
                {% if loopIndex %} class="active"{% endif %}>
                <a href="/">问题</a>
                </li>
                <li
                {% if loopResource %} class="active"{% endif %}>
                <a href="/resource">资料库</a>
                </li>
                {% if isLogin %}
                <li>
                    <a href="/user/{{isLogin}}">用户中心</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!---------- header end ----->
    {% if !isLogin %}
    <div class="loginAndRegister">
        <div>
            <div class="login">
                <input type="text" placeholder="邮箱地址"/>
                <input type="password" placeholder="密码"/>
                <input type="button" placeholder="登录" value="登录"/>
            </div>
            <span>没有账号，<a href="/user/register">马上注册</a></span>
        </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>