<div class="fr wenda-slider">
    <a href="javascript: void(0)" class="newques-btn" id="js-newques" target="_blank"><i></i>发新问题</a>

    <div class="wenda-mkclass">
        <h2>一周热门话题</h2>

        <div class="wenda-mkclasscon clearfix">
            {% for item in items %}
            <div class="mkhotlist padtop">
                <a href="/single/{{item._id.toString()}}" target="_blank" class="hottalk">{{item.title}}</a>
                <i class="adopt rankingnum">{{item.resNum}}<br><i class="smallfont">回答</i></i></div>
            {% endfor %}

        </div>
    </div>
    <div class="wenda-mkclass">
        <h2>回复光荣榜</h2>

        <div class="wenda-mkclasscon clearfix">
            <ul>
                {% for user in users %}
                <li>
                    <a href="#" class="fl roll-head" target="_blank" title="{{user.name}}"><img
                            src="{{user.avatar}}" width="40"
                            height="40"></a>
                    <a href="/space/u/uid/255777" target="_blank" title="偌颜宁" class="rankingnickname">{{user.name}}</a>
                    <i class="adopt rankingnum">{{user.viewNum || 0}}<br><i class="smallfont">回答</i></i>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>