<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>邀请你使用 助车网</title>
</head>
<body style="font-family: 'microsoft yahei';">
<table style="width: 770px;margin-left: auto;margin-right: auto">
    <tr>
        <td>
            <table style="color: #303030;font-size: 14px;">
                <tr>
                    <td>尊敬的{{name}}：</td>
                </tr>
                <tr>
                    <td>您好！</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是<a style="color:#2ea7e0"
                                                                        href="http://www.chetansite.com">助车网</a>，
                        一个专注于汽车、驾照考试的问答社区，在这里，你可以提出你学车前、学车时、以至于学车后的
                        问题，可以提出所有与汽车相关的问题,也希望你能留下你的答案。
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;padding-bottom: 10px"><b>最新问题:</b></td>
                </tr>
                <tr>
                    <td><a style="color:#2ea7e0;text-decoration: none;margin-left: 20px"
                           href="http://www.chetansite.com/single/544fb611319d42c25407c1d8">科目三注意事项</a></td>
                </tr>
                <tr>
                    <td><a style="color:#2ea7e0;text-decoration: none;margin-left: 20px"
                           href="http://www.chetansite.com/resource/544d10ca0635b0ff641143cb">成都路正考场科目二点位</a></td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px;"><a style="color:#2ea7e0;text-decoration: none;margin-left: 20px"
                                                         href="http://www.chetansite.com/single/544d0ff70635b0ff641143c8">科目三灯光考试语音内容</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>希望这封信没有打扰您。社区真诚的希望你的加入，希望为驾考规范，驾考学习提供一份力量。</td>
                </tr>
                <tr>
                    <td>如果你有任何关于我们的意见或建议,请通过下列方式提出您宝贵的意见:</td>
                </tr>
                <tr>
                    <td style="font-size: 12px;padding-top: 20px">QQ： 1429970147<br>邮箱：service@chetansite.com</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="font-size: 12px;color: #606060;text-align: right;padding-top: 20px;width: 770px">
                <tr>
                    <td><p style="margin-top: 0">祝工作顺利！</p></td>
                </tr>
                <tr>
                    <td>助车网</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>