<!DOCTYPE html>
<html>
<head>
    <title>carSchool</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div id="showMsg"></div>
<div id="body-wrapper">
    <div id="index-top">
        <div class="index-top-left float-left">
            <h1>车谈</h1>
            <h3>和别人分享学车的经历，评论每个驾校的情况，为学车人一个明智的选择，为市场打造一个纯净的、合理的学车环境</h3>
        </div>
        <div class="index-top-right float-right">
            <ul>
                <li>
                    <h3 class="float-left" id="choose-register">注册账号</h3>
                    <h3 class="float-right" id="choose-login">登录</h3>
                    <p class="clear"></p>
                </li>
                <li><input type="text" id="index-username" placeholder="用户名"/></li>
                <li><input type="password" id="index-pwd" placeholder="密码"/></li>
                <li><input type="button" id="index-register" value="注册账号"/></li>
                <li><input type="button" id="index-login" value="登录"/></li>
            </ul>
        </div>
        <p class="clear"></p>
    </div>
    <!-- Footer -->
    <div id="footer">
        <div class="info container clearfix">
            <!-- Copyright -->
            <p>© 2014 DSF www.dsf.com 版权保留</p>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer -->
</div>
</body>
</html>