{% extends '../shared/layout.html' %}
{% block content %}
<div id="contents">
    <div class="clearfix">
        <div class="main">
            <div class="section">
                <div class="new-requests">
                    <h2>最新提问</h2>
                    <input type="submit" value="提问"/>
                </div>
                <ul>
                    <li>
                        <div class="frame4">
                            <div class="box">
                                <img src="/images/thumbnail-sideview.jpg" alt="Img" height="94" width="90">
                            </div>
                        </div>
                        <p>
                            <b><a href="">成都蜀安驾校学习如何？</a></b>
                        </p>
                    </li>
                    <li>
                        <div class="frame4">
                            <div class="box">
                                <img src="/images/thumbnail-focus.jpg" alt="Img" height="94" width="90">
                            </div>
                        </div>
                        <p>
                            <b><a href="">成都蜀安驾校学习如何？</a></b>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="section">
                <h2>最新回答</h2>
                <ul>
                    <li>
                        <div class="frame4">
                            <div class="box">
                                <img src="/images/thumbnail-smile.jpg" alt="Img" height="94" width="90">
                            </div>
                        </div>
                        <p>
                        <p>
                            <b><a href="">科目二、科目三考试能补考几次？</a></b>
                            每个可以补考五次，每次补考，现场可以补考一次，相当于总共可以考十次
                        </p>
                    </li>
                    <li>
                        <div class="frame4">
                            <div class="box">
                                <img src="/images/thumbnail-smile.jpg" alt="Img" height="94" width="90">
                            </div>
                        </div>
                        <p>
                        <p>
                            <b><a href="">科目二、科目三考试能补考几次？</a></b>
                            每个可以补考五次，每次补考，现场可以补考一次，相当于总共可以考十次
                        </p>
                    </li>
                </ul>
            </div>
            <div class="section now-news last-child">
                <h2>最近新闻</h2>
                <ul>
                    <li>
                        <p>
                        <p>
                            <b><a href="http://js.people.com.cn/n/2014/0602/c360303-21331389.html">北京老人"扎堆"考驾照 只为帮子女摇号</a></b>
                        </p>
                    </li>
                    <li>
                        <p>
                        <p>
                            <b><a href="http://news.163.com/14/0602/10/9TNQ535C00014Q4P.html">免考拿驾照?千万别相信</a></b>
                        </p>
                    </li>
                    <li>
                        <p>
                        <p>
                            <b><a href="http://news.sina.com.cn/o/2014-06-01/032030272500.shtml">客车高速上倒车被拍个正着记分罚款驾照还要降级</a></b>
                        </p>
                    </li>
                    <li>
                        <p>
                        <p>
                            <b><a href="http://www.pcauto.com.cn/client/447/4479923.html">一周车坛点评:谷歌,我是考了驾照的人!</a></b>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% endblock %}