<!DOCTYPE html>
<html>
<head>
    <title>carSchool</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/custom.css"/>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>

<div id="contents">
    <div id="adbox">
        <div class="clearfix">
            <img src="images/family-large.jpg" alt="Img" height="382" width="594">
            <div class="detail">
                <h1>车谈</h1>
                <p>分享学车的经历，评论每个驾校的情况，为学车人一个明智的选择，为市场打造一个纯净的、合理的学车环境</p>
            </div>
        </div>
    </div>

    <div class="highlight">
        <div class="clearfix index-questions">
            <div class="float-left">
                <h2>最新回答</h2>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">成都蜀安驾校学习如何？</a></p>
                    <p class="index-answer">一般吧，学费不是很贵，但是教练每次要收钱，补考费也贵很多，每次还收车费，个人不推荐！</p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">成都驾校考试有哪些需要注意的呢？</a></p>
                    <p class="index-answer">成都科目二要考单边桥，和国家规定不同。</p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">科目二考试需要注意什么呢？</a></p>
                    <p class="index-answer">多加练习，注意细节，加油</p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">科目二、科目三考试能补考几次？</a></p>
                    <p class="index-answer">每个可以补考五次，每次补考，现场可以补考一次，相当于总共可以考十次</p>
                </div>
                <br class="clear"/>
            </div>
            <div class="float-right">
                <h2>最新提问</h2>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">成都蜀安驾校学习如何？</a></p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">成都驾校考试有哪些需要注意的呢？</a></p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">科目二考试需要注意什么呢？</a></p>
                </div>
                <div>
                    <img class="circle float-left" width="30" height="30" src="images/avatar1.jpg" alt="头像"/>
                    <p><a href="">科目二、科目三考试能补考几次？</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="footer">
    <div class="clearfix">
        <div class="section">
            <h4>Latest News</h4>
            <p>
                This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
            </p>
        </div>
        <div class="section contact">
            <h4>Contact Us</h4>
            <p>
                <span>Address:</span> the address city, state 1111
            </p>
            <p>
                <span>Phone:</span> (+20) 000 222 999
            </p>
            <p>
                <span>Email:</span> info@freewebsitetemplates.com
            </p>
        </div>
        <div class="section">
            <h4>SEND US A MESSAGE</h4>
            <p>
                If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
            </p>
            <a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
        </div>
    </div>
</div>

</body>
</html>