{% extends '../shared/layout.html' %}
{% block content %}
<div id="contents">
    <div class="clearfix">
        <div class="source-content">
            <div class="source-tools">
                <h2>全部资料</h2>
                <!--<ul class="js-tool-sort">-->
                    <!--<li><a class="curr" data-id="last" href="javascript:void(0)">最新</a></li>-->
                    <!--<li><a href="javascript:void(0)" data-id="pop" class="">最热</a></li>-->
                <!--</ul>-->
                <!--<div class="dot-tool-curr" style="right: 80px;"></div>-->
            </div>
            <div class="source-list" style="margin-top: 0px;">
                <div class="bg-loading" style="height: 2670px; display: none;"></div>
                <div class="js-course-list">
                    <ul>
                        {% for item in items %}
                        <li>
                            <a href="/resource/{{item._id.toString()}}">
                                <div class="course-list-img">
                                    <img width="280" height="160" alt="{{item.title}}"
                                         src="{{item.imagePath}}">
                                </div>
                                <h5><span class="topicon">{{item.title}}</span></h5>
                                <div class="tips"><span class="l">{{item.addTime}}更新</span> <span class="r">{{item.viewNum}}人查看</span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}