{% extends '../shared/layout.html' %}
{% block content %}
<div id="contents" class="resource">
    <div class="clearfix">
        <div class="container qa-container clearfix">
            <div class="qa-left l">
                <div class="qa-left-wrap">
                    <div class="qa-content" data-qid="30394" style="border: none">
                        <div class="qa-content-inner ">
                            <div id="js-content-main">
                                <h3 class="js-qa-wenda-title qa-wenda-title">{{source.title}}</h3>

                                <div id="js-qa-wenda" class="qa-wenda imgPreview" style="font-size: 14px;">
                                    <p>{% autoescape false %}{{source.content}}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="qa-content-addon clearfix">
                            <span class="qa-createtime l">{{source.addTime}}</span>
                            <span class="qa-view-num r">{{source.viewNum}} 浏览</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#comment').redactor({
            buttons: ['bold', '|',
                'image', 'file', 'link', 'horizontalrule', '|',
                'alignleft', 'aligncenter', 'alignright'],
            imageUpload: '/upload/image',
            minHeight: 200,
            plugins: ['fullscreen'],
            autoresize: false
        });
    });
</script>
{% endblock %}